/bin/
/.classpath
/.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/classes/com/Main.class
target/test-classes/com/MainTest.class
target/classes/com/SqlInjectionExample.class
target/classes/com/ResourceLeakExample.class
